@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <!-- Our Project -->	
    <header class="entry-header">
		<h2 class="entry-title">Our Project</h2>	</header><!-- .entry-header -->

	<p>SurgeViewer is a data visualization and filtering web application to be used in-house use by Bombora, the leading provider of B2B demographic, firmographic and Intent data.</p>
    <p>Our tool is intended to aid Bombora&#8217;s sales staff in determining changing trends of topics which are important to their potential customers, by automatically charting new data as it is received.  This tool will help to quickly determine which Bombora customers are invested in selected topics, and it will give its users to filter content to focus in on particular topics or company attributes.</p>
    <p><img data-attachment-id="58" data-permalink="https://bombora535753656.wordpress.com/abstract/tech/" data-orig-file="https://bombora535753656.files.wordpress.com/2018/02/tech.png?w=250&#038;h=234" data-orig-size="524,491" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="tech" data-image-description="" data-medium-file="https://bombora535753656.files.wordpress.com/2018/02/tech.png?w=250&#038;h=234?w=300" data-large-file="https://bombora535753656.files.wordpress.com/2018/02/tech.png?w=250&#038;h=234?w=524" class="  wp-image-58 alignright" src="https://bombora535753656.files.wordpress.com/2018/02/tech.png?w=250&#038;h=234" alt="tech.png" width="250" height="234" srcset="https://bombora535753656.files.wordpress.com/2018/02/tech.png?w=250&amp;h=234 250w, https://bombora535753656.files.wordpress.com/2018/02/tech.png?w=500&amp;h=468 500w, https://bombora535753656.files.wordpress.com/2018/02/tech.png?w=150&amp;h=141 150w, https://bombora535753656.files.wordpress.com/2018/02/tech.png?w=300&amp;h=281 300w" sizes="(max-width: 250px) 100vw, 250px" /></p>
    <p>The software will be entirely web-based and will utilize Amazon&#8217;s AWS cloud services to host the entire site and database. Technologies used will include ASP.net, MySQL, AngularJS, and HTLM5.</p>

    <!-- Resources Link -->
    <header class="entry-header">
        <h2 class="entry-title">Resources</h2>
    </header><!-- .entry-header -->
    <p><a href="https://bombora.com/products/company-surge/">Business-to-Business Intent Data</a></p>
    <p><a href="https://developers.google.com/chart/interactive/docs/reference">Google Charts API documentation</a></p>
    <p><a href="https://aws.amazon.com/documentation/rds/">Amazon Documentation for Relational Databses</a></p>
    <p><a href="https://aws.amazon.com/documentation/sdk-for-net/">Amazon Documentation for .NET integration</a></p>
    <p><a href="https://docs.angularjs.org/guide/introduction">AngularJS &#8211; Javascript front-end by Google</a></p>

    <!-- Reference Articles -->
    <h2><strong>Reference Articles</strong></h2>
    <p>
        <span style="font-weight:400;">
            The Role of On-line Retailer Brand and Infomediary Reputation in Increasing Consumer Purchase Intention<br />
        </span>Wujin Chu, Beomjoon Choi and Mee Ryoung Song<br />
        <cite></cite>
    </p>
    <p><span style="font-weight:400;">This article discusses the effect of the internet on customer’s intent to purchase. Before the internet, the customer’s knowledge of a product was mostly from the brand and price. The internet enabled find more information of a product through an infomediary. The infomediary reduced the search cost of the consumer leading to more informed purchases.</span></p>
    <p>
        <span style="font-weight:400;">
            <br />
        </span><span style="font-weight:400;">
            <br />
        </span><span style="font-weight:400;">
            Capturing and utilizing consumer purchase intent information<br />
            Riddhiman Ghosh, Jhilmil Jain, Mohamed E. Dekhil
        </span>
    </p>
    <p><span style="font-weight:400;">This is a patent of gathering and using consumer purchasing intent. Purchasing intent is gather from text, audio and image data. The data from audio and image is extracted using speech recognition and character recognition respectively. The data is stored in a database which will be used by a computer to enhance the consumer’s shopping experience.</span></p>

    <p>
        <span style="font-weight:400;">
            Online Display Advertising: Targeting and Obtrusiveness<br />
            Avi Goldfarb, Catherine Tucker<br />
        </span>
    </p>
    <p><span style="font-weight:400;">This paper goes over purchasing intent of people viewing online advertisements.Independently, obtrusive advertisements and targeted advertisements increase purchasing intent of the viewer. However, their study found that advertisements that are both targeted and obtrusive can decrease the purchasing intent of the viewer. The researchers believe that the combination effect is due to privacy concerns that the users have.</span></p>

</div>
