


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CompanyQueryByTopic</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
<form method="POST">
    <div>Exact Topic Name: <input name="topicName" /></div>
    <input type="submit" />
</form>
@{
    string queryString = "";
    string[] companyList;
    if (IsPost)
    {
        var topicString = Request.Form["topicName"];
        var tempQueryTools = new MVC5App.Scripts.Test.QueryTools();
        queryString = tempQueryTools.returnCompanyFromTopic(topicString, "%");
        companyList = queryString.Split('%');

        <body>
            Companies that are interested in @topicString
        </body>
        <table style="width:100%">
            @foreach (string company in companyList)
            {
                <tr><th><a href="~/Home/PlotData?companyName=@company&topicName=@topicString">@company</a></th></tr>
            }
        </table>

    }

}