<h2>
    @{
        var topicString = (string)ViewData["topicName"];
        if (topicString.IsEmpty())
        {
            @:Find companies surging on a topic
        }
        else
        {
            @:Companies surging on @topicString
        }
    }
</h2>
<form method="get">
    <div><input value="Exact Topic Name" name="topicName" /> <input type="submit" /></div>    
</form>
@{
    string queryString = "";
    string[] companyList;
    if (!((string)ViewData["topicName"]).IsEmpty())
    {        
        var tempQueryTools = new MVC5App.Scripts.Test.QueryTools();
        var ScoreString = "";
        var company = "";
        queryString = tempQueryTools.returnCompanyFromTopicWithScore(topicString, "%");
        companyList = queryString.Split('%');

        @:Companies that are interested in @topicString:
        
        <table style="width:100%">
            @for (int index = 0; index < companyList.Length - 1; index += 2)
            {
                company = companyList[index];
                ScoreString = companyList[index + 1];
                <tr><th><a href="~/Home/PlotData?companyName=@company&topicName=@topicString">@company @ScoreString</a></th></tr>
            }
        </table>
    }
}