<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CompanyQueryByTopic</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
<div class="jumbotron">

    <h2>Surge Search</h2>
    <p>View Company SurgeTM data by searching for a company name and a topic name</p>


    <form method="POST">
        <div>Exact Company Name: <input name="companyName" /></div>
        <div>Exact Topic Name: <input name="topicName" /></div>
        <input type="submit" />
    </form>
    @{
        string queryString = "";
        string[] topicList;
        if (IsPost)
        {
            var companyString = Request.Form["companyName"];
            var topicString = Request.Form["topicName"];
            var tempQueryTools = new MVC5App.Scripts.Test.QueryTools();
            queryString = tempQueryTools.findSurgeWithCompanyTopic(companyString, topicString, "%");
            topicList = queryString.Split('%');
            <body>
                @companyString is interested in:
            </body>
            <table style="width:100%">
                @foreach (string topic in topicList)
                {
                    <tr><th> @topic</th></tr>
                }
            </table>

        }

    }
</div>