@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Surge Viewer</h1>
    <h2>Visualization of Company SurgeTM</h2>
    <h3>UNR CS 426 Senior Project in Computer Science, Spring 2018</h3>


    <h3>Affiliates</h3>
    <ul>
        <li><strong>Professor Sergiu Dascalu</strong> &#8211; Instructor, UNR</li>
        <li><strong>Devrin Lee</strong> &#8211; Instructor, UNR</li>
        <li><strong>Max Weigant</strong> &#8211; External Advisor, Bombora</li>
    </ul>

    <h2>What is Surge Viewer?</h2>
    <p>SurgeViewer is a data visualization and filtering web application to be used in-house use by Bombora, the leading provider of B2B demographic, firmographic and Intent data.</p>
    <p>Our tool is intended to aid Bombora&#8217;s sales staff in determining changing trends of topics which are important to their potential customers, by automatically charting new data as it is received.  This tool will help to quickly determine which Bombora customers are invested in selected topics, and it will give its users to filter content to focus in on particular topics or company attributes.</p>

    @Html.ActionLink("Find Topic", "FindTopic", "Home", new { @class = "btn btn-success" })
    @Html.ActionLink("Find Company", "FindCompany", "Home", new { @class = "btn btn-success" })
    <p></p>
    <h2>Video Example</h2>
    <div class="video-responsive">
        <iframe src="https://www.youtube.com/embed/BLX1vM-KTds?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <br />
    <!--<p><a href="https://www.youtube.com/watch?v=BLX1vM-KTds" class="btn btn-primary btn-lg">Watch more &raquo;</a></p>-->

</div>
