@using MySql.Data;
@using MySql.Data.MySqlClient;
@{
    //code author: Ocph23 (stackExchange User)
    //code modifier: Evan Su


    ViewBag.Title = "Tests";
    //string that can be used for the html part
    string outputString = "";
    //creates connection class instance
    var dbCon = MVC5App.Models.DBConnection.Instance();
    dbCon.DatabaseName = "YourDatabase";
    //trys to connect once
    if (dbCon.IsConnect())
    {
        //based on how the code is written, the connection can fail.
        //This attempts to retry connection if intially failed.
        int tryConnection = 0;
        while (dbCon.Connection.State != System.Data.ConnectionState.Open && tryConnection < 10)
        {
            dbCon.IsConnect();
            tryConnection++;
        }
        string query = "SELECT Title,Genre,Year FROM Movies";

        var cmd = new MySqlCommand(query, dbCon.Connection);
        if (dbCon.Connection.State == System.Data.ConnectionState.Open)
        {
            var reader = cmd.ExecuteReader();

            while (reader.Read())
            {
                string someStringFromColumnZero = reader.GetString(0);
                string someStringFromColumnOne = reader.GetString(1);
                string someStringFromColumnTwo = reader.GetString(2);
                outputString += someStringFromColumnZero;
                outputString += someStringFromColumnOne;
                outputString += someStringFromColumnTwo;
                Console.WriteLine(someStringFromColumnZero);
            }
        }
        else
        {
            outputString = "noConnection";
        }
        dbCon.Close();
    }
}
<h2>@ViewBag.Title.</h2>

<h3>Sample Query</h3>

<p>
    <br /><br />
    @outputString<br /><br />
</p>
