<!--

    Author: Evan Su
    Date: 5/7/2018
    Purpose:
        A simple page that finds topics based on the company entered.

    -->

<div class="jumbotron">
    <h2>
        @{
            var companyString = (string)ViewData["companyName"];
            if (companyString.IsEmpty())
            {
                @:Find topics for a company
            }
            else
            {
                @:Topics for @companyString
            }
        }
    </h2>


    <p>Search for topics that a specific company is interested in.</p>
    <form method="get">
        <div><input value="Exact Company Name" name="companyName" /> <input type="submit" /></div>
    </form>
    @{
        string queryString = "";
        string[] topicList;
        if (!companyString.IsEmpty())
        {
            var tempQueryTools = new MVC5App.Scripts.Test.QueryTools();
            queryString = tempQueryTools.returnTopicFromCompanyWithScore(companyString, "%");
            topicList = queryString.Split('%');
            var ScoreString = "";
            var topic = "";

            <h3>"@companyString" is interested in:</h3>

            <table>

                @for (int index = 0; index < topicList.Length - 1; index += 2)
                {
                    topic = topicList[index];
                    ScoreString = topicList[index + 1];
                    <tr><td><a href="~/Home/PlotData?companyName=@companyString&topicName=@topic">@topic</a></td><td style="padding-left:20px">@ScoreString</td></tr>
                }
            </table>

        }

    }
</div>