


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CompanyQueryByTopic</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
<form method="POST">
    <div>Exact Company Name: <input name="companyName" /></div>
    <input type="submit" />
</form>
@{
    string queryString = "";
    string[] topicList;
    if (IsPost)
    {
        var companyString = Request.Form["companyName"];
        var tempQueryTools = new MVC5App.Scripts.Test.QueryTools();
        queryString = tempQueryTools.returnTopicFromCompany(companyString, "%");
        topicList = queryString.Split('%');
        <body>
            @companyString is interested in:
        </body>
        <table style="width:100%">
            @foreach (string topic in topicList)
            {
                <tr><th><a href="~/Home/PlotData?companyName=@companyString&topicName=@topic">@topic</a></th></tr>
            }
        </table>

    }

}


<hr />

<p>AngularJS pulls irib data from database without reloading page</p>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>var myCompany = "irib"</script>

<div ng-app="myApp" ng-controller="myCtrl">

    <button ng-click="count = myWelcome">Click Me!</button>
        
    <div href="#" ng-repeat="x in count.split(';')">
        <a href="~/Home/PlotData?companyName=irib&topicName={{x.trim()}}">{{x.trim()}}</a>        
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $http.get("/Home/SinglePage?companyName=" + myCompany)
            .then(function (response) {
                var topicList = response.data;
                $scope.myWelcome = topicList;                
            });
    });
</script>
